/* Grunlayout für die gesamte Webseite */
html,
body {
  height: 100%;
  margin: 0;
  width: auto;
}

* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.app {
  display: grid;
  grid-template-columns: 450px 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

header {
  grid-column: 1 / -1;
  background: lightblue;
  border: 1px solid black;
  padding: 10px;
}

footer {
  display: flex;
  grid-column: 1 / -1;
  background: lightblue;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}

aside {
  display: flex;
  flex-direction: column;
  background: lightgray;
  justify-content: space-between;
  border-right: 1px solid black;
  padding: 10px;
}

main {
  background: white;
  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: lightblue;
}

.header-center {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.header-title {
  font-size: 23px;
  color: black;
  text-shadow: 1px 1px 2px white;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 10px;
}

.header-controls {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-controls select {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #888;
  background-color: #f0f0f0;
}

.checkbox {
  display: inline-flex; /* damit Text und Kästchen nebeneinander sind */
  align-items: center;
  cursor: pointer;
  gap: 5px; /* Abstand zwischen Text und Kästchen */
  font-size: 16px;
}

.checkbox-box {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.checkbox-box.checked {
  color: black;
}

.main-area {
  padding: 20px;
  overflow-y: auto;
}

.main-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
