html,
body {
  height: 100%;
  margin: 0;
}

.app {
  display: grid;
  min-height: 100vh; /* full page */
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
}

header {
  grid-column: 1 / -1;
  background: lightblue;
}
footer {
  grid-column: 1 / -1;
  background: lightblue;
}
aside {
  background: lightgray;
}
main {
  background: white;
}

#Checkbox {
  height: 20x;
  width: 20px;
  color: #007cc3;
  cursor: pointer;
}

#text {
  font-family: "Arial", sans-serif;
  cursor: pointer;
}

#dropdown {
  font-family: "Arial", sans-serif;
  cursor: pointer;
}
